accelerate==0.33.0
apify-client==1.6.4
arxiv==2.1.0
docarray
duckduckgo_search
faiss-cpu==1.8.0
google-api-python-client
google-cloud-aiplatform
google-generativeai
gpt4all==2.3.2
gradio==3.50.2
httpx==0.27.2
huggingface-hub
jupyter
lanarky
langchain
langchain-anthropic
langchain-chroma
langchain-cli
langchain-cohere
langchain-core==0.3.27 
langchain-experimental
langchain-google-genai
langchain-google-vertexai
langchainhub
numexpr==2.10.0
opencv-python
pandoc==1.1.0  # needs system install as well!
pdf2image==1.17.0
pdfminer.six==20231228
pikepdf==8.15.1
pillow_heif==0.16.0
pydantic==2.9.0
pymupdf==1.24.1
pypdf==4.1.0
replicate==0.30.1
ruff==0.3.4
sentence-transformers==2.6.1
streamlit==1.37.0
tiktoken==0.6.0
unstructured
wikipedia==1.4.0
wolframalpha==5.0.0
